spacy==3.7.4
typer==0.9.0
presidio-analyzer==2.2.355
presidio-anonymizer==2.2.355
PyYAML==6.0.2
fastapi==0.110.0
starlette==0.36.3
uvicorn[standard]==0.30.0
celery==5.3.6
redis==5.0.3
opensearch-py==2.4.2
minio==7.2.5
ocrmypdf==15.4.0
pytesseract==0.3.10
pdfminer.six==20231228
python-docx==1.1.2
python-pptx==0.6.23
openpyxl==3.1.2
numpy==1.26.4
requests==2.32.3
python-magic==0.4.27
SQLAlchemy==2.0.29
pgvector==0.4.1
psycopg[binary]==3.1.19
boto3==1.35.36
langdetect==1.0.9
pdfplumber==0.11.4
nats-py==2.6.0
